<?xml version="1.0"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			WEB-INF/applicationContext-cxf.xml,classpath*:applicationContextService.xml,classpath*:applicationContextInMemoryDAO.xml
		</param-value>
 	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

<!-- 
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Modification actions</web-resource-name>
			<url-pattern>/edit.do</url-pattern>
			<url-pattern>/delete.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>pointadmin</role-name>
		</auth-constraint>
	</security-constraint>
 -->
 
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Linear Regression</realm-name>
	</login-config>

	<security-role>
		<role-name>pointadmin</role-name>
	</security-role>

</web-app>